/*Algemeen*/
body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    border: 3px #2d3648 solid;
    border-radius: 5px;
    max-width: 1000px;
    margin: 0 auto;
}


/*Navigatie*/
nav {
    display: flex;
    background-color: #e2e7f0;
    align-items: center;
    border-bottom: 1px black solid;
}

nav a {
    padding: 25px 10px;
    color: #8f97a7;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    background-color: #2d3648;
    color: white;
}

.logo {
    margin-left: 60px;
    margin-right: 10px;
    padding: 5px 15px;
    color: white;
    background-color: #2d3648;
    border: 1px #2d3648 solid;
    border-radius: 3px;
}


/*Header*/
header {
    display: flex;
    flex-wrap: wrap;
    margin: 60px;
}

header .title {
    font-size: 32px;
    color: #2d3648;
    padding-right: 500px;
}

header .afbeelding {
    width: 500px;
    height: 400px;
    border: 1px #2d3648 solid;
    background-color: #e2e7f0;
    text-align: center;
}

header .omschrijving {
    width: 330px;
    height: 400px;
    margin-left: 30px;
}

header h2 {
    font-size: 30px;
    font-weight: bold;
    margin-left: 10px;
    margin-bottom: 40px;
}

.bestelknop {
    display: flex;
}

header a {
    color: white;
    background-color: #2d3648;
    border: #2d3648 1px solid;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    padding: 10px 0px;
    flex-grow: 1;
}

header a:hover {
    background-color: aquamarine;
}

header p {
    margin-bottom: 40px;
}


/* Main */
main {
    display: flex;
    border-top: #2d3648 3px solid;
    padding: 60px 0px 0px 0px;
    flex-direction: column;
}

main .omschrijving {
    display: flex;
    padding: 60px;
}

.voor-nadeel {
    width: 200px;
    height: 100px;
    margin-right: 0px;
    background-color: #e2e7f0;
    margin-right: 30px;
    padding: 25px
}

.voor-nadeel div {
    color: #2d3648;
}

.omschrijving-product {
    width: 600px;
    height: 150px;
}

.omschrijving h2 {
    color: #2d3648;
}

main .gerelateerde-producten {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 60px 0px;
    background-color: #e2e7f0;

}

main .producten {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
}

main .product-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 200px;
}

.product-info h3 {
    text-align: center;
    margin: 20px 100px;
}

.product-img {
    border: #2d3648 1px solid;
    width: 75px;
    height: 75px;
    margin: 0 auto;
}

main .title {
    margin: 0 200px;
    text-align: center;
    font-size: 20px;
}


/* Footer */
footer {
    display: flex;
    justify-content: center;
    background-color: #2d3648;
}

footer a {
    margin: 40px 20px;
    color: #8f97a7;
    text-decoration: none;
}

footer a:hover {
    color: white;
    text-decoration: underline;
}